@model PagedList.IPagedList<JobFinder.Web.Models.SearchResultOfferViewModel>

<h2>Search for job offers</h2>
<div class="row">
<div class="searchForm">
    @using (Html.BeginForm("OfferSearchResults", "SearchOffer", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row form-group">
            <div class="col-lg-offset-3">
                <label>Select business sectors:</label>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <select id="BusinessSectors" multiple class="form-control">
                        @foreach (var item in (IEnumerable<SelectListItem>)TempData["BusinessSectors"])
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    </select>
                </div>
                <div class="col-lg-3">
                    <select multiple id="selectedSectors" class="form-control"></select>
                </div>
            </div>
        </div>
        <br />
        <div class="row form-group">
            <div class="col-lg-offset-3">
                <label>Select city: </label>
                @Html.DropDownList("Town", (IEnumerable<SelectListItem>)TempData["Towns"], String.Empty, new { @class = "form-control"})
            </div>
        </div>
        <br />
        <div class="row form-group">
            <div class="col-lg-offset-3">
                <label>Search by word: </label>
                <input type="text" name="Word" class="form-control" placeholder="Search by keyword" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-10 col-lg-offset-4">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
    }
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/controls.js")"></script>
    <script>
        Controls.multipleListControl('BusinessSectors', 'Sectors', 'selectedSectors');
    </script>
}